@model IEnumerable<ChipMongWebApp.Models.DB.tblSubCustomer>

<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr class="text-center">
            <th scope="col" width="65px">#</th>
            <th scope="col"> Phone </th>
            <th scope="col"> Line ID </th>
            <th scope="col" style="width:130px"> Action </th>
        </tr>
    </thead>
    <tbody>


        @{
        int i = 1;
        foreach (var m in Model)
        {
        <tr>
            <th scope="row" class="text-center"> @i </th>
            <td class="align-middle"> @m.sbcs_Phone </td>
            <td class="align-middle"> @m.sbcs_LineID </td>
            <td>
                <button type="button" class="btn btn-danger" onclick="deleteRetailer(@m.sbcs_SubCustomerID)"> <i class="fas fa-trash-alt"></i></button>
            </td>
        </tr>
        i++;
    }
        }

    </tbody>

</table>


