@using ChipMongWebApp.Utils.Helpers
@model ChipMongWebApp.Models.DTO.SourceSupply.SourceSupplyViewDTO

@{
    var isDiable = "";
    var isSummary = "";

    if (Model != null)
    {
        if (Model.mode == ConstantHelper.MODE_VIEW)
        {
            isDiable = "disabled";
            isSummary = "summary";
        }
    }
}


<form id="record" name="record">
    <fieldset @isDiable class=@isSummary>
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.id)
        <div class="card shadow-sm">
            <div class="card-header merienda"> Source Supply </div>

            <!-- card body -->
            <div class="card-body">

                <!--row 1-->
                <div class="col">
                    <div class="form-group">
                        @Html.LabelFor(m => m.name)
                        @Html.TextBoxFor(m => m.name, new { @class = "form-control required", placeholder = "First Name", @maxlength = "100" })
                    </div>
                </div>

                <input type="text" name="notuse" value="" style="display:none" />

                <!--end  row 1-->

            </div>
            <!-- end card body -->
        </div>
    </fieldset>
</form>

