
@model ChipMongWebApp.Models.DTO.Customer.CustomerViewDTO

<div class="card" id="action">
    <div class="card-body text-dark shadow-sm merienda">
        <button type="button" class="btn btn-success" id="btnSave"> <i class="fas fa-save"></i> Save </button>
        <button type="button" class="btn btn-danger" id="btnCancel"> <i class="fas fa-times"></i> Cancel </button>
    </div>
</div>

<br />

@Html.Partial("~/Views/Customer/Form.cshtml", Model)


<script>
    var url = "@Url.Content("~/customer")";
    var id =@Url.RequestContext.RouteData.Values["id"];
    
    $(document).ready(function () {
        setupEvents();
    });

    function setupEvents() {
        $("#btnSave").click(function () { save(); });
        $("#btnCancel").click(function () { cancel(); });
    }

    function save() {
        ajaxHelper(url + "/edit/", $("#customer").serialize(), requestMethod.POST).then(function (done) {
            window.location.reload();
        });
    }

    function cancel() {
        window.location.reload();
    }
</script>

