<nav aria-label="breadcrumb">
    <ol class="breadcrumb shadow-sm">
        <li class="breadcrumb-item"> <a href="javascript:onclick=customerTab()" id="customerTab"> Customer </a> </li>
        <li class="breadcrumb-item"> <a href="javascript:onclick=saleorderTab()" id="saleorderTab"> SaleOrder </a></li>
        <li class="breadcrumb-item"> <a href="javascript:onclick=sourceSupplyTab()" id="sourcesupplyTab"> Source Supply </a></li>
    </ol>
</nav>