@using ChipMongWebApp.Utils.Helpers
@{
    Layout = "~/Views/Shared/Main/_Main.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb shadow-sm">
        <li class="breadcrumb-item active" aria-current="page"> Customer </li>
        <li class="breadcrumb-item"> <a href="javascript:onclick=saleorderTab()"> SaleOrder </a></li>
        <li class="breadcrumb-item"> <a href="javascript:onclick=sourceSupplyTab()"> Source Supply </a></li>
    </ol>
</nav>


<div class="card" id="action">
    <div class="card-body text-dark shadow-sm merienda">
        @Html.Partial("~/Views/Shared/Template/ViewMode/Button.cshtml")
    </div>
</div>

<br />

@Html.Partial("~/Views/Customer/Form.cshtml")

<script src="~/Content/js/function/template/viewmode/button.js"></script>
<script>
    const controller = "@ConstantHelper.CUSTOMER_CONTROLLER";
    const id = @Url.RequestContext.RouteData.Values["id"];
    const saleorderTab = () => location.href = controller + "/saleordertab/" + id;
    const sourceSupplyTab = () => location.href = controller + "/sourceSupplytab/" + id;
</script>
