<tr>
    <td>
        <select class="form-control line-item-required" id="status" name="status">
            <option value=""> -- Please Select Item -- </option>
            <option value="1"> Item 1 </option>
            <option value="2"> Item 2 </option>
            <option value="3"> Item 3 </option>
            <option value="4"> Item 4 </option>
        </select>
    </td>
    <td>  <input class="form-control line-item-required" type="text" id="quantity" name="quantity" placeholder="Quantity" /> </td>
    <td> <input class="form-control line-item-required" type="text" id="price" name="price" placeholder="Price" /> </td>
    <td> <input class="form-control" type="text" readonly /> </td>
    <td>
        <button type="button" class="btn btn-success" onclick="saveLineItem($(this))"> <i class="fas fa-save"></i> save </button>
    </td>
</tr>

