@using ChipMongWebApp.Utils.Helpers
@using ChipMongWebApp.Utils.Extension
@model ChipMongWebApp.Models.DTO.Item.ItemViewDTO
@{
    /**/

    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Main/_Main.cshtml";
}

<div class="card" id="action">
    <div class="card-body text-dark shadow-sm merienda">
        @Html.Partial("~/Views/Shared/Template/ViewMode/Button.cshtml")
    </div>
</div>

<br />

@Html.Partial("~/Views/Item/Form.cshtml")

<script src="~/Content/js/function/template/viewmode/button.js"></script>
<script>
    const controller = "@ConstantHelper.ITEM_CONTROLLER";
    const id = @Url.RequestContext.RouteData.Values["id"];
</script>


